html, body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Bungee Shade', cursive;
  padding: 20px;
  color: white
}
.title-name {
  margin-bottom: 10px;
  margin-top: 10px;
}
.title-name a {
  color: white;
}
.title-name a:hover {
  color: white;
}

.search {
  margin: 20px;
  padding: 20px;
  width: 65vw;
  align-self: center;
}
.search-song {
  width: 100%;
  background: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid white;
  color: white;
  height: 30px;
  border-right: none;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.search-song:focus {
  outline: none;
}

.results {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  padding-top: 10px;
  margin-bottom: -20px;
}
.result {
  border-bottom: 1px solid White;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.result:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.result.result-last {
  border-bottom: none;
}

footer{
  height: 74px;
  display: flex;
  flex-shrink :0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

