html, body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  height: 74px;
  display: flex;
  flex-shrink :0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

/* landing page */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

/* Container for the buttons */
.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 20px; /* Space between buttons */
  margin-top: 20px;
}
